
<h1 class="flex justify-center">Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th class="flex justify-start h3 mb3">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr class="flex-wrap content-start">
        <td class="col-8"><%= link_to topic.name ,topic_path(topic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


